    /* The body tag changes the entire page */
body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

#header{
    /* This will freeze the pane */
    position: fixed; 
    /* This fixes it at the very top left of the screen */
    top: 0px; 
    left: 0px;
    /* The header will be the topmost and overlay itself above all the other elements, closer to user */
    z-index: 500;
    /* It will take up the full width of the screen */
    width: 100%;
    height: 80px;
    /* Importing the image we have been setting up */
    background-image: url('images/wood-bg.png');
    /* This will repeat the image horizontally until the full width has been achieved */
    background-repeat: repeat-x;
}

    /* This is the logo for the zoo */
#header img{
    /* We will be able to adjust the width and height of image */
    display: block;
    /* Centralize an object, centralised within its parent which is the header (woodgrain) */
    margin: auto;
    /* The image will not be very huge within the header, the width automatically sets itself when height is */
    height:70%;
    /* To leave some space at the top to centrallise the image vertically */
    padding: 15px;
}