    /* The body tag changes the entire page */
body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/* ////////////////////////////////////HEADER */
#header{
    /* This will freeze the pane */
    position: fixed; 
    /* This fixes it at the very top left of the screen */
    top: 0px; 
    left: 0px;
    /* The header will be the topmost and overlay itself above all the other elements, closer to user */
    z-index: 500;
    /* It will take up the full width of the screen */
    width: 100%;
    height: 80px;
    /* Importing the image we have been setting up */
    background-image: url('images/wood-bg.png');
    /* This will repeat the image horizontally until the full width has been achieved */
    background-repeat: repeat-x;
}

    /* This is the logo for the zoo */
#header img{
    /* We will be able to adjust the width and height of image */
    display: block;
    /* Centralize an object, centralised within its parent which is the header (woodgrain) */
    margin: auto;
    /* The image will not be very huge within the header, the width automatically sets itself when height is */
    height:70%;
    /* To leave some space at the top to centrallise the image vertically */
    padding: 15px;
}

/* ////////////////////////////////////////////TOP TABS */
#tabs-top{
    position: fixed;
    /* Because the height of the header is 80px, for the top-tabs to be visible, they need to start at 80px */
    top: 80px;
    left: 0;

    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: darkgreen;
}

/* hyperlinks inside the top tabs */
#tabs-top a{
    float: left;
    /* Will allow to give the hyperlinks a height and a width */
    display: block;
    /* One third of top tab */
    width: 33%;
    /* 5px short of the total height of the tab bar */
    height: 35%;

    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    /* the text within the hyperlink button to be vertically aligned */
    padding-top: 12px;
}

/* MAIN-HOME */

#main-home{
    /* height of the header (80px) + tab top (40px) */
    margin-top:120px;
}

/* //////////////////////////////////////////////////BOTTOM TABS*/

#tabs-bottom{
    position: fixed;
    /* This is stuck at the bottom left This is also identical somewhat to the top except for colour and height*/
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: forestgreen;
}

#tabs-bottom a{
    float: left;
    display: block;
    /* Half the width of the screen unlike the top tabs because now you have two elements instead of 3 */
    width:50%;

    height: 35px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding-top:12px;
}

/* ////////////////////////////////MAIN */

#main{
   /* so that it doesnt appear below the header and the top tabs */
    margin-top:119px;
    background: url('images/map-blur.png');
    /* The image will keep repeating itself vertically */
    background-repeat: repeat-y;
}

#content{
    /* Just to make it look neater */
    padding-top:1px;
    padding-bottom: 50px;
}


/*/////////////////////////////////////////////// INFO-BOX */
/* any hyperlink with the class name 'info box' will have this style */
a.info-box{
    text-decoration: none;
    /* use an rgb colour because it will be a transparent the last part means it is 80% opaque */
    background: rgb(255,255,255, .8);
    /* it wont go end to end some spaces on left & right */
    width: 90%;
    height: 90px;
    display: block;
    /* to be centralised to the screen */
    margin: auto;
    /* spaces in between the boxes */
    margin-top: 12px;
    /* padding all around */
    padding: 1px;

}

/* Styling the animals page links contents, any image that appears inside the infobox class */
.info-box img{
    height: 70px;
    margin: 10px;
    /* thumbnail will appear on the left side */
    float: left;

}

.info-box h3{
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: #572800;
}

.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

/* any image that appears info-box class and has the class name of right */
.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px;

}